---
---
<a href="/" class="w-full flex justify-center">
    <div class="w-fit z-10 border-2 rounded-full border-[#C5BEBE]/[0.14] bg-[#3A3E5E]/[0.11] backdrop-blur-[1.5px]">
    <p class="z-10 px-[50px] py-2 font-bold text-[#D2D2D2]">sandkasten</p>
</div>
</a>
