---

---
<div class="z-10 flex flex-col items-center space-y-5 py-4 border-[1px] p-2 rounded-2xl border-[#C5BEBE]/[0.14] bg-[#3A3E5E]/[0.11] backdrop-blur-[1.5px]">
        <h1 class="z-10 w-fit text-4xl font-bold bg-gradient-to-r text-transparent bg-clip-text from-[#22A9D3] to-[#8CAF40]"> Welcome to Sandkasten</h1>
        <p class="z-10 w-fit text-xl font-regular text-[#D2D2D2]">Hi I'm Alan, thank you for stopping by!</p>
        <div class="flex z-10">
            <a href="http://alanbayolo.netlify.app" class="rounded-lg py-1 px-5 font-medium bg-gradient-radial from-[#222649]/[0.24] to-[#535880]/[0.24] backdrop-blur-[25px] text-[#8D90A9] w-fit">More about me</a>{/*Updating according to time until trip*/}
            {/*<p class="mx-6 mt-2 font-semibold text-[#D2D2D2]">✨ July 3rd ✨</p>*/}
        </div>

</div>